<h2> Olá {{ name }}, </h2>
<p>
  Recebemos uma requisição de recuperar a senha de seu login, siga as instruções para recuperar sua conta.
</p>
<p>
<a href="{{ resetPasswordUrl }}" target="_blank">Recuperar senha</a>
</p>
<p> Disconsidere o link abaixo se você não o requisitou.</p>
<strong>Equipe GuildaTech</strong>